html, body, main, section, h1, h2, p, button {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;

  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  line-height: 1em;

  box-sizing: inherit;

  background: transparent;
}

main {
  width: 416px;
  margin: 10px auto 0;

  font-family: 'Play', sans-serif;
  font-size: 16px;
  color: #002e9a;
}

h1 {
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 52px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

a {
  color: #002e9a;
}

a:visited {
  color: #002e9a;
}

button {
  border: 1px solid #002e9a;
  border-radius: 2px;
  padding: 2px 5px;

  cursor: pointer;
  user-select: none;
}

button:hover {
  background-color: #002e9a;
  color: white;
}

.bold {
  font-weight: bold;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;

  font-family: 'Play', sans-serif;
  font-size: 16px;

  background-color: #002e9a;
  color: #ddd;
}

.footer {
  margin-top: 8px;
  text-align: center;
}

.popup {
  position: absolute;
  top: 280px;
  width: 386px;
  left: 50%;
  transform: translateX(-50%);

  background-color: white;
  border-radius: 2px;

  text-align: center;
}

#popup-about {
  top: 180px;
}

#popup-start {
  top: 300px;
}

.popup.hidden {
  display: none;
}

.popup section {
  margin: 5px;
  padding: 20px 10px;

  border: 1px solid #002e9a;
  border-radius: 2px;
}

.popup table {
  width: 100%;
  margin-bottom: 1em;
}

.popup td {
  width: 50%;
}

.popup td:first-child {
  padding-right: 5px;
  text-align: right;
}

.popup td:last-child {
  padding-left: 5px;
  text-align: left;
}
